<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner</title>
    <link rel="shortcut icon" type="image/png" href="/webjars/jasmine/2.5.1/jasmine_favicon.png">
    <link rel="stylesheet" href="/webjars/jasmine/2.5.1/lib/jasmine-core/jasmine.css">

    <script src="/webjars/jasmine/2.5.1/lib/jasmine-core/jasmine.js"></script>
    <script src="/webjars/jasmine/2.5.1/lib/jasmine-core/jasmine-html.js"></script>
    <script src="/webjars/jasmine/2.5.1/lib/jasmine-core/boot.js"></script>

    <script src="/webjars/angularjs/1.4.1/angular.js"></script>
    <script src="/webjars/angularjs/1.4.1/angular-route.js"></script>
    <script src="/webjars/angularjs/1.4.1/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.4.1/angular-mocks.js"></script>
</head>
<body>
    <script th:each="source : ${sources}" th:src="${source}"></script>
    <script th:each="spec : ${specs}" th:src="${spec}"></script>
</body>
</html>